# py4lo
language: python

python:
  - "3.7"

cache: pip

before_install:
  - sudo apt-get install -y libreoffice libreoffice-script-provider-python python3-uno
  - export PYTHONPATH=${PYTHONPATH}:/usr/lib/python3/dist-packages/

# command to run tests and install dependencies
install:
  - pip install --upgrade pip
  - pip install --upgrade setuptools
  - pip install https://files.pythonhosted.org/packages/a2/12/ced7105d2de62fa7c8fb5fce92cc4ce66b57c95fb875e9318dba7f8c5db0/toml-0.10.0-py2.py3-none-any.whl
  - pip install https://files.pythonhosted.org/packages/12/35/443632cfa43f82efd363bc8104b3ae67a887a248c6c6baec34c7b9edbcb5/unotools-0.3.3.tar.gz
  # for coverage
  - pip install --upgrade pytest py codecov pytest-cov
  - pytest --version # pytest-cov

  # dependencies
  - pip install -r requirements.txt
  - echo $PYTHONPATH
  - python -c "help('modules')"


# script
script:
  - py.test --ignore=example --cov=py4lo --cov=lib && py.test --ignore=example --ignore=test --ignore=py4lo/__main__.py --cov-append --doctest-modules --cov=lib


after_success:
  - codecov
